snippet begin "The begin of a shell script"
#! /bin/bash
#  Author: `echo $USER`
#  TIME: `date`
#  USAGE: $1
endsnippet

snippet sec "Begin a section" 
#####
########## $1 ##########
#####
endsnippet
